# Named Entity Recognition using CRF model
In Natural Language Processing (NLP) an Entity Recognition is one of the common problem. The entity is referred to as the part of the text that is interested in. In NLP, NER is a method of extracting the relevant information from a large corpus and classifying those entities into predefined categories such as location, organization, name and so on. 
Information about lables: 
* geo = Geographical Entity
* org = Organization
* per = Person
* gpe = Geopolitical Entity
* tim = Time indicator
* art = Artifact
* eve = Event
* nat = Natural Phenomenon

        1. Total Words Count = 1354149 
        2. Target Data Column: Tag

#### Importing Libraries

In [1]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn_crfsuite import CRF
from sklearn_crfsuite.metrics import flat_f1_score
from sklearn_crfsuite.metrics import flat_classification_report

In [2]:
#Reading the csv file
df = pd.read_csv('./data/ner_dataset.csv', encoding = "ISO-8859-1")

In [3]:
#Display first 10 rows
df.head(10)

    Sentence #           Word  POS    Tag
0  Sentence: 1      Thousands  NNS      O
1          NaN             of   IN      O
2          NaN  demonstrators  NNS      O
3          NaN           have  VBP      O
4          NaN        marched  VBN      O
5          NaN        through   IN      O
6          NaN         London  NNP  B-geo
7          NaN             to   TO      O
8          NaN        protest   VB      O
9          NaN            the   DT      O

In [4]:
df.describe()

             Sentence #     Word      POS      Tag
count             47959  1048575  1048575  1048575
unique            47959    35178       42       17
top     Sentence: 40302      the       NN        O
freq                  1    52573   145807   887908

#### Observations : 
* There are total 47959 sentences in the dataset.
* Number unique words in the dataset are 35178.
* Total 17 lables (Tags).

In [5]:
#Displaying the unique Tags
df['Tag'].unique()

array(['O', 'B-geo', 'B-gpe', 'B-per', 'I-geo', 'B-org', 'I-org', 'B-tim',
       'B-art', 'I-art', 'I-per', 'I-gpe', 'I-tim', 'B-nat', 'B-eve',
       'I-eve', 'I-nat'], dtype=object)

In [6]:
#Checking null values, if any.
df.isnull().sum()

Sentence #    1000616
Word                0
POS                 0
Tag                 0
dtype: int64

There are lots of missing values in 'Sentence #' attribute. So we will use pandas fillna technique and use 'ffill' method which propagates last valid observation forward to next.

In [7]:
df = df.fillna(method = 'ffill')

In [8]:
df.head(10)

    Sentence #           Word  POS    Tag
0  Sentence: 1      Thousands  NNS      O
1  Sentence: 1             of   IN      O
2  Sentence: 1  demonstrators  NNS      O
3  Sentence: 1           have  VBP      O
4  Sentence: 1        marched  VBN      O
5  Sentence: 1        through   IN      O
6  Sentence: 1         London  NNP  B-geo
7  Sentence: 1             to   TO      O
8  Sentence: 1        protest   VB      O
9  Sentence: 1            the   DT      O

In [9]:
# This is a class te get sentence. The each sentence will be list of tuples with its tag and pos.
class sentence(object):
    def __init__(self, df):
        self.n_sent = 1
        self.df = df
        self.empty = False
        agg = lambda s : [(w, p, t) for w, p, t in zip(s['Word'].values.tolist(),
                                                       s['POS'].values.tolist(),
                                                       s['Tag'].values.tolist())]
        self.grouped = self.df.groupby("Sentence #").apply(agg)
        self.sentences = [s for s in self.grouped]
        
    def get_text(self):
        try:
            s = self.grouped['Sentence: {}'.format(self.n_sent)]
            self.n_sent +=1
            return s
        except:
            return None

In [10]:
#Displaying one full sentence
getter = sentence(df)
sentences = [" ".join([s[0] for s in sent]) for sent in getter.sentences]
sentences[0]

'Thousands of demonstrators have marched through London to protest the war in Iraq and demand the withdrawal of British troops from that country .'

In [11]:
len(sentences)

47959

In [12]:
#sentence with its pos and tag.
sent = getter.get_text()
print(sent)

[('Thousands', 'NNS', 'O'), ('of', 'IN', 'O'), ('demonstrators', 'NNS', 'O'), ('have', 'VBP', 'O'), ('marched', 'VBN', 'O'), ('through', 'IN', 'O'), ('London', 'NNP', 'B-geo'), ('to', 'TO', 'O'), ('protest', 'VB', 'O'), ('the', 'DT', 'O'), ('war', 'NN', 'O'), ('in', 'IN', 'O'), ('Iraq', 'NNP', 'B-geo'), ('and', 'CC', 'O'), ('demand', 'VB', 'O'), ('the', 'DT', 'O'), ('withdrawal', 'NN', 'O'), ('of', 'IN', 'O'), ('British', 'JJ', 'B-gpe'), ('troops', 'NNS', 'O'), ('from', 'IN', 'O'), ('that', 'DT', 'O'), ('country', 'NN', 'O'), ('.', '.', 'O')]

Getting all the sentences in the dataset.

In [13]:
sentences = getter.sentences

In [14]:
len(sentences)

47959

#### Feature Preparation
These are the default features used by the NER in nltk. We can also modify it for our customization.

In [15]:
def word2features(sent, i):
    word = sent[i][0] # the current word
    postag = sent[i][1] # the POS tag of the current word

    features = {
        'bias': 1.0,
        'word.lower()': word.lower(), # the current word (lowercase)
        'word[-3:]': word[-3:],  # 3-character suffix
        'word[-2:]': word[-2:],  # 3-character suffix
        'word.isupper()': word.isupper(), # is the word uppercase?
        'word.istitle()': word.istitle(), # is the word lowercase?
        'word.isdigit()': word.isdigit(), # it the word a number?
        'postag': postag, # the POS tag of the word
        'postag[:2]': postag[:2], # last 2 character of the POS tag of the word
    }
    if i > 0: # if not first word add features for previous word 
        word1 = sent[i-1][0]
        postag1 = sent[i-1][1]
        features.update({
            '-1:word.lower()': word1.lower(),
            '-1:word.istitle()': word1.istitle(),
            '-1:word.isupper()': word1.isupper(),
            '-1:postag': postag1,
            '-1:postag[:2]': postag1[:2],
        })
    else: # if first word of sentence there is no previous word
        features['BOS'] = True # beginning of sentence

    if i < len(sent)-1: # if not last word add features for next word
        word1 = sent[i+1][0]
        postag1 = sent[i+1][1]
        features.update({
            '+1:word.lower()': word1.lower(),
            '+1:word.istitle()': word1.istitle(),
            '+1:word.isupper()': word1.isupper(),
            '+1:postag': postag1,
            '+1:postag[:2]': postag1[:2],
        })
    else:
        features['EOS'] = True # end of sentence

    return features


def sent2features(sent):
    return [word2features(sent, i) for i in range(len(sent))]

def sent2labels(sent):
    return [label for token, postag, label in sent]

def sent2tokens(sent):
    return [token for token, postag, label in sent]

In [16]:
X = [sent2features(s) for s in sentences]
y = [sent2labels(s) for s in sentences]

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [18]:
crf = CRF(algorithm = 'lbfgs',
         c1 = 0.1,
         c2 = 0.1,
         max_iterations = 100,
         all_possible_transitions = False, verbose = True)
crf.fit(X_train, y_train)

loading training data to CRFsuite: 100%|██████████| 38367/38367 [00:10<00:00, 3665.22it/s]

Feature generation
type: CRF1d
feature.minfreq: 0.000000
feature.possible_states: 0
feature.possible_transitions: 0
0....1....2....3....4....5....6....7....8....9....10
Number of features: 137917
Seconds required: 2.543

L-BFGS optimization
c1: 0.100000
c2: 0.100000
num_memories: 6
max_iterations: 100
epsilon: 0.000010
stop: 10
delta: 0.000010
linesearch: MoreThuente
linesearch.max_iterations: 20

Iter 1   time=2.00  loss=1349118.68 active=136910 feature_norm=1.00
Iter 2   time=2.01  loss=1057618.64 active=135497 feature_norm=4.40
Iter 3   time=1.02  loss=826591.69 active=129828 feature_norm=3.85
Iter 4   time=5.21  loss=454513.09 active=131380 feature_norm=3.24
Iter 5   time=1.14  loss=380812.16 active=133164 feature_norm=4.08
Iter 6   time=1.13  loss=295551.90 active=131778 feature_norm=5.87
Iter 7   time=1.12  loss=256742.59 active=124478 feature_norm=7.20
Iter 8   time=1.13  loss=228644.67 active=118831 feature_norm=8.19
Iter 9   time=1.04  loss=197544.63 active=110749 feature_norm=10.38
Iter 10  time=1.08  loss=178964.14 active=107538 feature_norm=11.70
Iter 11  time=1.16  loss=165445.00 active=105260 feature_norm=13.10
Iter 12  time=1.25  loss=155334.92 active=101975 feature_norm=14.46
Iter 13  time=1.25  loss=146934.94 active=99399 feature_norm=15.78
Iter 14  time=1.26  loss=137695.79 active=98845 feature_norm=16.28
Iter 15  time=1.23  loss=128059.49 active=96931 feature_norm=17.53
Iter 16  time=1.25  loss=122194.34 active=94966 feature_norm=19.69
Iter 17  time=1.18  loss=114573.04 active=94705 feature_norm=21.27
Iter 18  time=1.03  loss=110811.76 active=95262 feature_norm=22.21
Iter 19  time=1.09  loss=104525.43 active=93208 feature_norm=24.62
Iter 20  time=1.13  loss=98317.84 active=91306 feature_norm=27.38
Iter 21  time=1.04  loss=92900.66 active=91060 feature_norm=30.12
Iter 22  time=1.04  loss=89414.90 active=90927 feature_norm=31.74
Iter 23  time=1.04  loss=84169.40 active=88868 feature_norm=35.73
Iter 24  time=1.05  loss=80329.08 active=87765 feature_norm=39.58
Iter 25  time=1.03  loss=76814.77 active=87461 feature_norm=42.41
Iter 26  time=1.03  loss=73943.03 active=86941 feature_norm=45.55
Iter 27  time=1.02  loss=70772.26 active=84527 feature_norm=56.94
Iter 28  time=1.02  loss=66717.57 active=85294 feature_norm=58.93
Iter 29  time=1.02  loss=65394.38 active=85297 feature_norm=60.75
Iter 30  time=1.00  loss=62525.58 active=83375 feature_norm=68.28
Iter 31  time=1.02  loss=60501.06 active=83732 feature_norm=71.30
Iter 32  time=1.02  loss=58581.06 active=83348 feature_norm=75.91
Iter 33  time=1.03  loss=56549.90 active=82442 feature_norm=82.84
Iter 34  time=1.03  loss=54400.42 active=82287 feature_norm=88.60
Iter 35  time=1.02  loss=52999.66 active=82061 feature_norm=92.68
Iter 36  time=1.03  loss=50842.38 active=80502 feature_norm=102.63
Iter 37  time=1.02  loss=49565.28 active=80435 feature_norm=106.48
Iter 38  time=1.02  loss=48071.64 active=80027 feature_norm=113.39
Iter 39  time=1.07  loss=46588.30 active=78566 feature_norm=128.38
Iter 40  time=1.03  loss=45011.03 active=78646 feature_norm=133.15
Iter 41  time=1.01  loss=43903.68 active=77876 feature_norm=139.15
Iter 42  time=1.03  loss=42787.85 active=75230 feature_norm=159.91
Iter 43  time=1.02  loss=41793.87 active=76160 feature_norm=160.51
Iter 44  time=1.07  loss=41527.22 active=76299 feature_norm=162.10
Iter 45  time=1.02  loss=40604.42 active=75051 feature_norm=170.72
Iter 46  time=1.02  loss=40444.80 active=73204 feature_norm=184.16
Iter 47  time=1.03  loss=39446.14 active=73771 feature_norm=184.60
Iter 48  time=1.01  loss=39222.66 active=73438 feature_norm=185.51
Iter 49  time=1.03  loss=38608.02 active=72134 feature_norm=190.78
Iter 50  time=2.03  loss=38508.59 active=72183 feature_norm=191.85
Iter 51  time=1.02  loss=38285.04 active=72161 feature_norm=192.13
Iter 52  time=1.02  loss=38072.13 active=71825 feature_norm=193.62
Iter 53  time=1.02  loss=37773.77 active=71283 feature_norm=196.27
Iter 54  time=1.01  loss=37539.74 active=70722 feature_norm=198.52
Iter 55  time=1.01  loss=37335.27 active=69043 feature_norm=203.08
Iter 56  time=1.03  loss=37172.86 active=68974 feature_norm=204.47
Iter 57  time=1.02  loss=37008.18 active=68308 feature_norm=206.86
Iter 58  time=1.02  loss=36830.48 active=67348 feature_norm=209.93
Iter 59  time=1.02  loss=36673.62 active=67031 feature_norm=210.70
Iter 60  time=1.09  loss=36540.07 active=66568 feature_norm=211.60
Iter 61  time=1.04  loss=36354.63 active=65469 feature_norm=213.90
Iter 62  time=1.03  loss=36305.29 active=65157 feature_norm=215.12
Iter 63  time=1.02  loss=36152.09 active=65443 feature_norm=215.59
Iter 64  time=1.01  loss=36094.89 active=65390 feature_norm=215.96
Iter 65  time=1.01  loss=36004.06 active=65125 feature_norm=216.52
Iter 66  time=1.03  loss=35929.11 active=64650 feature_norm=217.75
Iter 67  time=1.04  loss=35818.82 active=64784 feature_norm=218.09
Iter 68  time=1.03  loss=35764.33 active=64675 feature_norm=218.50
Iter 69  time=1.01  loss=35699.23 active=64537 feature_norm=218.90
Iter 70  time=1.04  loss=35640.59 active=64332 feature_norm=219.48
Iter 71  time=1.02  loss=35577.32 active=64200 feature_norm=219.85
Iter 72  time=1.02  loss=35526.90 active=64100 feature_norm=220.28
Iter 73  time=1.02  loss=35475.37 active=63931 feature_norm=220.61
Iter 74  time=1.01  loss=35431.79 active=63812 feature_norm=221.06
Iter 75  time=1.01  loss=35383.25 active=63676 feature_norm=221.29
Iter 76  time=1.02  loss=35343.61 active=63628 feature_norm=221.62
Iter 77  time=1.02  loss=35306.60 active=63519 feature_norm=221.78
Iter 78  time=1.02  loss=35271.47 active=63429 feature_norm=222.08
Iter 79  time=1.02  loss=35237.90 active=63284 feature_norm=222.28
Iter 80  time=1.01  loss=35205.15 active=63183 feature_norm=222.55
Iter 81  time=1.03  loss=35173.98 active=63141 feature_norm=222.72
Iter 82  time=1.03  loss=35144.85 active=63060 feature_norm=222.95
Iter 83  time=1.03  loss=35118.38 active=62980 feature_norm=223.11
Iter 84  time=1.05  loss=35093.61 active=62877 feature_norm=223.33
Iter 85  time=1.04  loss=35069.51 active=62759 feature_norm=223.47
Iter 86  time=1.05  loss=35045.57 active=62678 feature_norm=223.68
Iter 87  time=1.07  loss=35022.74 active=62595 feature_norm=223.81
Iter 88  time=1.18  loss=35002.65 active=62456 feature_norm=223.99
Iter 89  time=1.29  loss=34979.80 active=62407 feature_norm=224.10
Iter 90  time=1.05  loss=34961.04 active=62278 feature_norm=224.25
Iter 91  time=1.02  loss=34940.32 active=62186 feature_norm=224.36
Iter 92  time=1.05  loss=34921.76 active=62139 feature_norm=224.52
Iter 93  time=1.02  loss=34901.98 active=62084 feature_norm=224.61
Iter 94  time=1.02  loss=34885.90 active=62022 feature_norm=224.76
Iter 95  time=1.04  loss=34867.22 active=61944 feature_norm=224.84
Iter 96  time=1.02  loss=34851.99 active=61882 feature_norm=224.98
Iter 97  time=1.02  loss=34835.63 active=61856 feature_norm=225.06
Iter 98  time=1.02  loss=34821.29 active=61781 feature_norm=225.19
Iter 99  time=1.04  loss=34804.70 active=61712 feature_norm=225.27
Iter 100 time=1.03  loss=34792.27 active=61644 feature_norm=225.39
L-BFGS terminated with the maximum number of iterations
Total seconds required for training: 112.410

Storing the model
Number of active features: 61644 (137917)
Number of active attributes: 30764 (92955)
Number of active labels: 17 (17)
Writing labels
Writing attributes
Writing feature references for transitions
Writing feature references for attributes
Seconds required: 0.131

/Users/wc72da/opt/anaconda3/lib/python3.7/site-packages/sklearn/base.py:213: FutureWarning: From version 0.24, get_params will raise an AttributeError if a parameter cannot be retrieved as an instance attribute. Previously it would return None.
  FutureWarning)

CRF(algorithm='lbfgs', all_possible_transitions=False, c1=0.1, c2=0.1,
    keep_tempfiles=None, max_iterations=100, verbose=True)

In [19]:
#Predicting on the test set.
y_pred = crf.predict(X_test)

#### Evaluating the model performance.
There is much more O entities in data set, but we’re more interested in other entities. To account for this we’ll use averaged F1 score computed for all labels except for O. sklearn-crfsuite.metrics package provides some useful metrics for sequence classification task, including this one.

In [20]:
labels = list(crf.classes_)
labels.remove('O')
labels

['B-geo',
 'B-gpe',
 'B-org',
 'I-org',
 'B-tim',
 'B-per',
 'I-per',
 'I-tim',
 'I-geo',
 'B-nat',
 'I-nat',
 'B-art',
 'B-eve',
 'I-eve',
 'I-art',
 'I-gpe']

In [21]:
f1_score = flat_f1_score(y_test, y_pred, average = 'weighted', labels =labels)
print(f1_score)

0.8511850975817504

In [22]:
report = flat_classification_report(y_test, y_pred)
print(report)

/Users/wc72da/opt/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass labels=None as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)

              precision    recall  f1-score   support

       B-art       0.44      0.15      0.22        81
       B-eve       0.52      0.38      0.44        61
       B-geo       0.86      0.90      0.88      7521
       B-gpe       0.97      0.94      0.95      3219
       B-nat       0.70      0.21      0.32        34
       B-org       0.80      0.74      0.77      3972
       B-per       0.85      0.83      0.84      3374
       B-tim       0.92      0.88      0.90      4033
       I-art       0.25      0.07      0.11        55
       I-eve       0.38      0.19      0.25        53
       I-geo       0.82      0.80      0.81      1462
       I-gpe       0.93      0.62      0.74        42
       I-nat       1.00      0.08      0.15        12
       I-org       0.81      0.80      0.80      3362
       I-per       0.84      0.91      0.87      3483
       I-tim       0.81      0.79      0.80      1313
           O       0.99      0.99      0.99    177212

    accuracy                           0.97    209289
   macro avg       0.76      0.60      0.64    209289
weighted avg       0.97      0.97      0.97    209289

## Let’s check what classifier learned

In [23]:
from collections import Counter

def print_transitions(trans_features):
    for (label_from, label_to), weight in trans_features:
        print("%-6s -> %-7s %0.6f" % (label_from, label_to, weight))

print("Top likely transitions:")
print_transitions(Counter(crf.transition_features_).most_common(20))

print("\nTop unlikely transitions:")
print_transitions(Counter(crf.transition_features_).most_common()[-20:])

Top likely transitions:
B-geo  -> I-geo   8.414277
B-nat  -> I-nat   7.899703
B-org  -> I-org   7.550725
I-org  -> I-org   7.439938
B-art  -> I-art   7.319828
B-per  -> I-per   7.310900
B-tim  -> I-tim   7.291974
B-eve  -> I-eve   7.140804
I-tim  -> I-tim   7.100317
B-gpe  -> I-gpe   7.048318
I-art  -> I-art   6.849460
I-geo  -> I-geo   6.663883
I-eve  -> I-eve   6.617047
I-gpe  -> I-gpe   6.331629
I-per  -> I-per   6.033221
O      -> B-per   4.762875
O      -> O       4.520906
I-nat  -> I-nat   4.269670
O      -> B-tim   3.225079
B-geo  -> B-tim   2.718923

Top unlikely transitions:
I-tim  -> B-org   -0.420681
B-art  -> O       -0.441651
B-art  -> B-per   -0.477492
I-art  -> B-per   -0.558382
B-tim  -> B-art   -0.574160
I-gpe  -> O       -0.612843
I-art  -> O       -0.623511
I-gpe  -> B-geo   -0.629051
B-eve  -> B-tim   -0.770985
I-art  -> B-tim   -0.787978
B-eve  -> O       -0.832436
B-art  -> B-geo   -1.045687
B-tim  -> B-gpe   -1.048469
I-geo  -> B-gpe   -1.078524
I-art  -> B-geo   -1.120318
I-tim  -> B-gpe   -1.257102
I-org  -> B-geo   -1.435209
I-nat  -> O       -1.548182
I-per  -> B-gpe   -1.859264
I-per  -> B-geo   -2.127349

Theoretically transitions O -> I should be the most unlikely, but since they never occur, the `all_possible_transitions=False` flag makes sures they get ignored.

## Check the state features

In [24]:
def print_state_features(state_features):
    for (attr, label), weight in state_features:
        print("%0.6f %-8s %s" % (weight, label, attr))

print("Top positive:")
print_state_features(Counter(crf.state_features_).most_common(30))

print("\nTop negative:")
print_state_features(Counter(crf.state_features_).most_common()[-30:])

Top positive:
8.158353 O        word.lower():last
8.095732 O        word.lower():month
6.864339 B-org    word.lower():philippine
6.591011 B-tim    word.lower():multi-candidate
6.545099 B-gpe    word.lower():niger
6.470383 B-gpe    word.lower():afghan
6.203209 B-per    word.lower():president
6.152053 B-geo    word.lower():caribbean
6.018412 B-org    -1:word.lower():rice
6.012577 B-tim    word.lower():2000
6.006212 B-geo    -1:word.lower():hamas
5.850307 B-tim    word.lower():one-year
5.814563 B-geo    word.lower():europe
5.795934 B-per    word.lower():prime
5.795603 B-gpe    word.lower():nepal
5.736389 B-org    word.lower():mid-march
5.683419 B-tim    word.lower():february
5.647005 B-tim    word.lower():january
5.597681 B-org    word.lower():hamas
5.499085 B-per    word.lower():obama
5.390410 B-per    word.lower():greenspan
5.380266 B-tim    word.lower():august
5.352231 B-per    word.lower():senator
5.328137 O        word.lower():internet
5.289210 O        word.lower():week
5.247250 B-tim    word[-3:]:Day
5.211255 O        word.lower():columbia
5.142603 B-gpe    word.lower():iraqi
5.131866 B-gpe    word[-3:]:pal
5.126687 O        word.lower():year

Top negative:
-3.357802 O        word.lower():today
-3.358058 B-per    word.lower():venezuela
-3.392722 O        word.istitle()
-3.402032 B-geo    word.isdigit()
-3.406777 O        word.lower():evening
-3.417569 B-geo    word[-3:]:day
-3.437448 B-gpe    word.lower():asian
-3.443911 O        +1:word.lower():ms.
-3.458067 O        word[-2:]:03
-3.489606 O        +1:word.lower():years
-3.583558 O        +1:word.lower():months
-3.598936 B-tim    +1:word.lower():into
-3.604803 O        +1:word.lower():year
-3.681661 O        word.lower():multi-party
-3.690884 I-org    word[-2:]:lf
-3.693445 O        word.lower():decade
-3.701768 I-per    word[-3:]:day
-3.723486 O        +1:word.lower():last
-3.725593 O        +1:word.lower():mrs.
-3.806555 O        word.lower():afternoon
-3.830263 O        +1:word.lower():predictions
-3.866651 O        +1:word.lower():next
-3.884284 O        word.lower():palestinian
-3.920837 O        word.lower():de
-3.937544 B-gpe    word.lower():european
-3.966673 I-org    word.lower():secretary
-4.547055 O        word.lower():summer
-4.603259 O        word.lower():morning
-4.652606 B-geo    word[-3:]:The
-5.027037 O        word[-2:]:0s

# Exercise: Improve performance by adding/removing features

Come up with your own features to improve performance. You can add into the existing features, or remove features.

Some ideas:

- Use the shape of a word and other linguistic features (https://spacy.io/usage/linguistic-features)

(Tip: Store the shape of all words into a dictionary so that you do not have to invoke spaCy's method every time you encounter the same word)
- Look into nltk implementation of NER https://github.com/nltk/nltk/blob/42262c9a7cdcb6f44ac08aebd575b5d7bf85b6ea/nltk/chunk/named_entity.py